.delivery_stages {
  h2 {
    color: var(--main-font, #363738);
    font-family: "Exo 2";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 48px;
  }
  .delivery_wrapper {
    display: grid;
    grid-gap: 24px;
    justify-items: end;
    grid-template-columns: repeat(1, 1fr);
    .wrapper_child {
      display: flex;
      gap: 56px;
      justify-content: center;
      align-items: center;
      fill: var(--white, #fff);
      box-shadow: (0px 4px 15px rgba(0, 0, 0, 0.12));
      border-radius: 8px;
      padding: 32px 132px 32px 96px;
      h4 {
        color: var(--main-font, #363738);
        font-family: "Exo 2";
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
        margin-bottom: 48px;
      }
      p {
        max-width: 568px;
        color: var(--additional-font, #6b6b6c);
        font-family: "PT Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .delivery_stages {
    .delivery_wrapper {
      .wrapper_child {
        h4 {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
@media only screen and (max-width: 935px) {
  .delivery_stages {
    .delivery_wrapper {
      .wrapper_child {
        img {
          display: none;
        }
        h4 {
          margin-bottom: 5px;
        }
      }
    }
  }
}
