.hero-section {
  .box {
    display: flex;
    padding-top: 190px;
    position: relative;
    .left {
      h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 52px;
        line-height: 125%;
        color: #363738;
        margin-bottom: 40px;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #6b6b6c;
        margin-bottom: 40px;
      }
      a {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #363738;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 3px solid#FFCE50;
      }
    }
    img {
      position: absolute;
      right: 0;
      top: 20%;
    }
  }
  .wrapper {
    margin-top: 209px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    padding-top: 40px;
    padding-bottom: 50px;
    .wrapper__box {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;

      .child {
        img {
          margin-bottom: 24px;
        }
        h3 {
          color: var(--main-font, #363738);
          font-family: "Exo 2";
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 135%;
          max-width: 228px;
          margin-bottom: 16px;
        }
        p {
          color: #6b6b6c;
          font-family: "PT Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          max-width: 225px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1170px) {
  .hero-section {
    .box {
      img {
        max-width: 550px;
        margin-top: 35px;
        right: 18px;
      }
    }
    .wrapper {
      max-width: 1090px;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .hero-section {
    .box {
      .left {
        h1 {
          font-weight: 600;
          font-size: 40px;
          line-height: 125%;
        }
      }
      img {
        max-width: 450px;
        margin-top: 35px;
        right: 18px;
      }
    }
    .wrapper {
      max-width: 999px;
    }
  }
}
@media only screen and (max-width: 990px) {
  .hero-section {
    .box {
      .left {
        h1 {
          font-weight: 600;
          font-size: 30px;
          line-height: 125%;
        }
      }
      img {
        max-width: 350px;
        margin-top: 70px;
        right: 32px;
      }
    }
    .wrapper {
      max-width: 900px;
      .child {
        max-width: 200px;
        h3 {
          max-width: 210px;
        }
        p {
          max-width: 100px;
        }
      }
    }
  }
}
@media only screen and (max-width: 890px) {
  .hero-section {
    .box {
      .left {
        h1 {
          font-weight: 600;
          font-size: 30px;
          line-height: 90%;
        }
        p {
          max-width: 480px;
        }
      }
      img {
        max-width: 300px;
        margin-top: 70px;
        right: 18px;
      }
    }
    .wrapper {
      max-width: 780px;
      margin: 40px auto;
      .child {
        max-width: 200px;
        img {
          max-width: 60px;
        }
        max-width: 200px;
        h3 {
          max-width: 50px;
          font-size: 20px;
        }
        p {
          max-width: 50px;
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .hero-section {
    .box {
      .left {
        h1 {
          font-weight: 600;
          font-size: 30px;
          line-height: 90%;
        }
        p {
          max-width: 420px;
        }
      }
      img {
        max-width: 300px;
        margin-top: 70px;
        right: 18px;
      }
    }
    .wrapper {
      max-width: 780px;
      margin: 40px auto;
      .child {
        max-width: 200px;
        img {
          max-width: 60px;
        }
        max-width: 200px;
        h3 {
          max-width: 50px;
          font-size: 14px;
        }
        p {
          max-width: 450px;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .hero-section {
    .box {
      padding: 0;
      flex-direction: column;
      align-items: center;
      .left {
        h1 {
          font-weight: 600;
          font-size: 30px;
          line-height: 90%;
        }
        p {
          max-width: 420px;
        }
      }
      img {
        max-width: 690px;
        max-height: 314px;
        margin-top: 70px;
        right: 18px;
        position: static;
      }
    }
    .wrapper {
      border-radius: 0px !important;
      background: #fff;
      box-shadow: none;
      .wrapper__box {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        .child {
          border-radius: 5px;
          padding: 35px 140px 47px 32px;
          background: #fff;
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
          max-width: 690px;
          display: flex;
          gap: 32px;
          justify-content: space-between;
          p {
            max-width: 394px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 705px) {
  .hero-section {
    .box {
      padding: 0;
      flex-direction: column;
      align-items: center;
      .left {
        h1 {
          font-weight: 600;
          font-size: 30px;
          line-height: 90%;
        }
        p {
          max-width: 420px;
        }
      }
      img {
        max-width: 690px;
        max-height: 314px;
        margin-top: 70px;
        right: 18px;
        position: static;
      }
    }
    .wrapper {
      padding: 0;
      .wrapper__box {
        max-width: 699px;
        .child {
          p {
            max-width: 340px;
            font-size: 16px;
          }
          h3 {
            max-width: 329px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 640px) {
  .hero-section {
    .box {
      padding: 0;
      flex-direction: column;
      align-items: center;
      .left {
        h1 {
          font-weight: 600;
          font-size: 30px;
          line-height: 90%;
        }
        p {
          max-width: 420px;
        }
      }
      img {
        max-width: 690px;
        max-height: 314px;
        margin-top: 70px;
        right: 18px;
        position: static;
      }
    }
    .wrapper {
      padding: 0;
      .wrapper__box {
        max-width: 660px;
        .child {
          p {
            max-width: 300px;
            font-size: 16px;
          }
          h3 {
            max-width: 300px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .hero-section {
    .box {
      padding: 0;
      flex-direction: column;
      align-items: center;
      .left {
        h1 {
          font-weight: 600;
          font-size: 30px;
          line-height: 90%;
        }
        p {
          max-width: 420px;
        }
      }
      img {
        max-width: 690px;
        max-height: 314px;
        margin-top: 70px;
        right: 18px;
        position: static;
      }
    }
    .wrapper {
      background: #fff;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
      padding: 0;
      .wrapper__box {
        max-width: 500px;
        .child {
          margin: 0;
          padding: 0;
          display: block;
          background: none;
          box-shadow: none;
          p {
            max-width: 280px;
            font-size: 16px;
          }
          h3 {
            max-width: 280px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 375px) {
  .hero-section {
    .box {
      padding: 0;
      flex-direction: column;
      align-items: center;
      .left {
        h1 {
          max-width: 344px;
          font-weight: 600;
          font-size: 28px;
          line-height: 90%;
        }
        p {
          max-width: 344px;
          font-size: 15px;
        }
      }
      img {
        max-width: 345px;
        margin-top: 70px;
        right: 18px;
        position: static;
      }
    }
    .wrapper {
      background: #fff;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
      padding: 0;
      .wrapper__box {
        max-width: 500px;
        .child {
          margin: 0;
          padding: 0;
          display: block;
          background: none;
          box-shadow: none;
          p {
            max-width: 280px;
            font-size: 16px;
          }
          h3 {
            max-width: 280px;
          }
        }
      }
    }
  }
}
