.table {
  margin-top: 200px;
  background: var(--green, #0b7572);

  .table_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: start;
    h2 {
      margin-top: 100px;
      margin-left: 81px;
      max-width: 477px;
      color: var(--white, #fff);
      font-family: Exo 2;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
    }
    .table_box {
      margin-top: 85px;
      margin-right: 67px;
      max-width: 654px;
      background-color: #fff;
      border-radius: 8px;
      padding: 32px;
      margin-bottom: 85px;
      .table_top {
        padding-bottom: 32px;
        border-bottom: 1px solid #d7d7dd;
        display: flex;
        justify-content: space-between;
        .info {
          p {
            max-width: 274px;
            max-height: 62px;
            color: var(--additional-font, #6b6b6c);
            font-family: "PT Sans";
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }
      }
      table {
        border-collapse: collapse;
        th {
          padding: 20px 36px;
          border-right: 1px solid rgba(0, 0, 0, 0.2);
          background-color: #0b7572;
          color: white;
        }
        tr {
          padding: 32px;
          .trtdd {
            display: none;
          }
          td {
            vertical-align: middle;
            padding: 16px 20px;
            margin: 0;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-right: none;
            border-bottom: none;
            h5 {
              color: var(--main-font, #000);
              font-family: "PT Sans";
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 135%;
              margin-bottom: 10px;
            }
            p {
              max-width: 141px;
              color: var(--additional-font, #6b6b6c);
              font-family: " PT Sans";
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 135%;
            }
            .pp {
              max-width: 112px;
            }
            .number {
              max-width: 120px;
              font-size: 11px;
              margin-top: 3px;
            }
          }
          .img {
            max-width: 81px;
            border-left: none;
          }
        }
      }
    }
  }
}
// @media only screen and (max-width: 1280px) {
//   .table {
//     .table_wrapper {
//       .table_box {
//         max-width: 680px;
//       }
//     }
//   }
// }

@media only screen and (max-width: 768px) {
  .table {
    .table_wrapper {
      display: flex;
      flex-direction: column;
      padding-bottom: 64px;

      .table_box {
        margin: 0;

        margin-top: 48px;
        max-width: 687px !important;
        max-height: 695px !important;
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  .table {
    .table_wrapper {
      h2 {
        max-width: 345px;
        margin: 0;
      }
      .table_box {
        .table_top {
          .info {
            display: none;
          }
        }
        margin: 0;

        margin-top: 48px;
        max-width: 687px !important;
        max-height: 695px !important;
        table {
          tr {
            .trth {
              display: none;
            }
            .trtdd {
              display: block;
            }
            .tdd {
              display: none;
            }
            .img {
              display: none;
            }
          }
        }
      }
    }
  }
}
